{# HvW 2019-10-10 #}
{# + Removes "There is no description for this organization" in the sidebar #}
{#   if there is no description for the organization. #}
{# + Removes Follower count and follow-button. #}

{% ckan_extends %}

{% block description %}
{% if organization.description %}
  <p>
  {{ h.markdown_extract(organization.description, 180) }}
  {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
  </p>
{% endif %}
{% endblock %}

 {% block nums %}
  <div class="nums">
    <dl>
      <dt>{{ _('Datasets') }}</dt>
      <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
    </dl>
  </div>
{% endblock %}
{% block follow %}
{% endblock %}
 
