/* FOUC prevention ************/

.js-on option.fouc {
    display: none;
}
.js-on label.fouc {
    display: none;
}
.js-on input.fouc {
    display: none;
}
.js-on button.fouc {
    display: none;
}
.js-on #advancedsearch.fouc {
    /* display:none; */
    visibility: hidden;
}

/******************************/

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    color: #fff;
    text-shadow: none;
    font-size: 18px;
}

.account-masthead {
  background: #005d7a url("/base/images/bg.png");
}

a.logo img {
  max-width: 350px;
  border-radius: 10px;
}

div.homepage.layout-3 {
  background: url("/base/images/airbubbles.jpg");
  background-size: 100%;
}

@media (min-width: 768px) {
  [role=main],
  .main {
    padding-top: 10px;
    background: url("../../../base/images/bg.png");
  }
}

.toolbar ol.breadcrumb {
  background: rgb(245, 245, 245);
  padding: 5px;
}

div#content.container {
    min-width: 535px;
}

.select2-container-multi .select2-choices {
    min-height: 53px;
}

.h4searchlabel {
    margin-bottom: 0px;
}

select.filterselect {
    height:60px;
    overflow:auto;
}

.presearchboxtext {
    margin: 5px;
    width: 355px;
}

.clear-filter-group {
    float: right;
}

/* Advaced search section *************************/
.form-inline .advsearchbutton > li {
    background-color: #eaeaea;
}

.search-form {
  clear: both;
}

.search-form input.wide-search {
    width: 355px;
}

.search-form #advancedsearch div.search-input {
    float:left;
    margin-right:5px;
}
/***************************************************/

/* Time- and vocabulary search input ***************/
.search-form .search-input button.outsidebutton  {
    right: -25px;
}

.search-form .search-input button.outsidebutton.second  {
    right: -50px;
}

.search-form .search-input .outsidebutton i {
    color: #000000;
    font-size: 120%;
}
/***************************************************/

div.time-search {
    float:left;
    margin-right:5px;
}

.time-search.error {
    color: #b55457;
}

.time-search.error input{
    border-color: #b55457;
    border-width: medium;
}

.modal-body table {
    table-layout:fixed;
}


.modal-body table th.col1 {
    width: 23ex;
}

.modal-body table th.col2 {
    width: 23ex;
}

.modal-body table th.col3 {
    width: 30ex;
}

.modal-body table tr {
    border-bottom: solid black 1px;
}

.modal-body table th {
    text-align: left;
}

.dataset-heading .badge {
    float:right;
    margin-left: 2ex;
    margin-bottom: 1ex;
    background-color: #708FAF;
}

.badge > a, .label > a {
    color: #ffffff;
}

a.package_desc {
  color: #000000;
  text-decoration: none;
}

.search-form .search-input.search-giant button {
    margin-top: -14px;
}

form.module-content.search-form .search-input.search-giant button {
    margin-top: -15px;
}

input.shortinput {
    width: 206px;
}

input.medinput {
    width: 270px;
}
.control-medium .medinput ~ .error-block {
    width: 268px;
}

.control-medium .select2-container-multi ~ .error-block {
    width: 294px;
}

select.shortinput {
    width: 220px;
}

select.medinput {
    width: 270px;
}

div.info-block.info-inline.shorthelp {
    width: 240px;
    color: black;
    margin-top: -8px;
}

.form-horizontal .control-medium div.info-block.info-inline {
    width: 240px;
    color: black;
    margin-top: -8px;
}

#dataset-edit .fa-info-circle:before{
    content: "\f05a";
    font-size: 20px;
}

#resource-edit .fa-info-circle:before{
    content: "\f05a";
    font-size: 20px;
}

#dataset-edit button.outsidebutton {
    background:transparent;
    border: none;
}

#resource-edit button.outsidebutton {
    background:transparent;
    border: none;
}

/* #dataset-edit .select2-container-multi.select2-container .select2-choices { */
/*   width: 320px; */
/* } */

#dataset-edit div.select2-container.select2-container-multi {
  width: 90%;
  display: inline-block;
}
textarea.eaw_with_infobutton {
  width: 90%;
}

@media (max-width: 768px) {
  input.eaw_with_infobutton {
    width: 90%;
  }
}

@media (min-width: 980px) {
  input.eaw_with_infobutton {
    width: 87.5%;
  }
}

.additional-info th {
  width: auto;
}
.additional-info td {
  width: 500px;
}

div.modal-help {
  font-size: large;
}
.modal-help .modal  {
  width: 750px;
  max-width:95%;
  left:auto;
  margin-left: -200px;
}
.modal-help .modal-body {
  max-height: 800px;
}

/* eigenj's comment here: */
/* https://github.com/nostalgiaz/bootstrap-switch/issues/469#issuecomment-226196951 */

.bootstrap-switch-container {
  white-space: nowrap;
}

div.well.well-small {
  background-color: #F7F5F3;
}

div.well.well-small:hover {
  background-color: #CBE8EC;
}

.dataset-heading a {
  text-decoration: none;
}

li.resource-item:hover {
  background-color: #CBE8EC;
}

/* spatial_query.css */
.module-narrow #dataset-map-container {
  height: 400px;
}

.wrapper::before {
  border-right: 0;
  width: 0;
}

/* horizontal lines betwen facets */
.nav-simple > li, .nav-aside > li {
  border-bottom: none;
}

/* remove background & border facet headings */
.module-heading {
  background-color: white;
  border: 0;
}

.module .read-more {
  /* font-weight: bold; */
  font-weight: normal;
  font-style: italic;
  color: #005976;
}

section#dataset-map {
  margin: 0;
}

label.checkbox.btn.btn-success.fa.fa-plus {
  line-height: inherit;
}

.homepage .module-search {
    padding: 0;
    margin: 250px 0 0 5px;
    color: #ffffff;
    background: 0;
    border: 0;
    box-shadow: 0px 0px 20px 5px white;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

.homepage .module-search .tags {
    padding: 5px 10px 10px 10px;
    background-color: #005d7a;;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
}

.homepage .module-search .module-content {
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
}

.department-header {
  text-align: center;
  background: #87FF87;
  margin: -15px -15px 5px -15px;
  padding: 4px;
}

article.module div.jumbotron {
  background-color: #AED6E3 !important;
}

article.module div.page-header {
  background-color: #AED6E3 !important;
}

a.doi-link {
  font-size: large;
}

.doi-link::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 25px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%221%201%20128%20128%22%3E%0A%3Ccircle%20style%3D%22fill%3A%23fcb425%22%20cx%3D%2265%22%20cy%3D%2265%22%20r%3D%2264%22%2F%3E%0A%3Cpath%20style%3D%22fill%3A%23231f20%22%20d%3D%22m%2049.819127%2C84.559148%20-11.854304%2C0%200%2C-4.825665%20c%20-1.203594%2C1.510894%20-4.035515%2C3.051053%20-5.264716%2C3.742483%20-2.151101%2C1.203585%20-5.072066%2C1.987225%20-7.812161%2C1.987225%20-4.430246%2C0%20-8.373925%2C-1.399539%20-11.831057%2C-4.446924%20-4.1229464%2C-3.636389%20-6.0602455%2C-9.19576%20-6.0602455%2C-15.188113%200%2C-6.094791%202.1126913%2C-10.960381%206.3380645%2C-14.59676%203.354695%2C-2.893745%207.457089%2C-5.209795%2011.810505%2C-5.209795%202.535231%2C0%205.661807%2C0.227363%207.889738%2C1.302913%201.280414%2C0.614601%203.572628%2C2.060721%204.929872%2C3.469179%20l%200%2C-25.420177%2011.854304%2C0%20z%20m%20-12.1199%2C-18.692584%20c%200%2C-2.253538%20-0.618258%2C-4.951555%20-2.205973%2C-6.513663%20-1.587724%2C-1.587724%20-4.474153%2C-2.996182%20-6.727691%2C-2.996182%20-2.509615%2C0%20-4.834476%2C1.825511%20-6.447807%2C3.720535%20-1.306031%2C1.536501%20-1.959041%2C3.905269%20-1.959041%2C5.877114%200%2C1.971835%200.740815%2C4.165004%202.046836%2C5.701505%201.587714%2C1.895025%203.297985%2C3.193739%205.833216%2C3.193739%202.279145%2C0%204.989965%2C-0.956662%206.552083%2C-2.51877%201.587714%2C-1.562108%202.908377%2C-4.185134%202.908377%2C-6.464278%20z%22%2F%3E%0A%3Cpath%20style%3D%22fill%3A%23fff%22%20d%3D%22m%20105.42764%2C25.617918%20c%20-1.97184%2C0%20-3.64919%2C0.69142%20-5.03204%2C2.074271%20-1.357247%2C1.357245%20-2.035864%2C3.021779%20-2.035864%2C4.993633%200%2C1.971835%200.678617%2C3.649193%202.035864%2C5.032034%201.38285%2C1.382861%203.0602%2C2.074281%205.03204%2C2.074281%201.99744%2C0%203.67479%2C-0.678627%205.03203%2C-2.035861%201.38285%2C-1.382861%202.07428%2C-3.073012%202.07428%2C-5.070454%200%2C-1.971854%20-0.69143%2C-3.636388%20-2.07428%2C-4.993633%20-1.38285%2C-1.382851%20-3.0602%2C-2.074271%20-5.03203%2C-2.074271%20z%20M%2074.219383%2C45.507921%20c%20-7.323992%2C0%20-12.970625%2C2.283009%20-16.939921%2C6.848949%20-3.277876%2C3.782438%20-4.916803%2C8.118252%20-4.916803%2C13.008406%200%2C5.430481%201.626124%2C10.009834%204.878383%2C13.738236%203.943689%2C4.538918%209.475093%2C6.808622%2016.59421%2C6.808622%207.093512%2C0%2012.612122%2C-2.269704%2016.555801%2C-6.808622%203.252259%2C-3.728402%204.878393%2C-8.1993%204.878393%2C-13.413648%200%2C-5.160323%20-1.638938%2C-9.604602%20-4.916803%2C-13.332994%20-4.020509%2C-4.56594%20-9.398263%2C-6.848949%20-16.13326%2C-6.848949%20z%20m%2024.908603%2C1.386686%200%2C37.634676%2012.599304%2C0%200%2C-37.634676%20-12.599304%2C0%20z%20M%2073.835252%2C56.975981%20c%202.304752%2C0%204.263793%2C0.852337%205.877124%2C2.554426%201.638928%2C1.675076%202.458402%2C3.727881%202.458402%2C6.159457%200%2C2.458578%20-0.806671%2C4.538022%20-2.419992%2C6.240111%20-1.613331%2C1.675086%20-3.585175%2C2.514099%20-5.915534%2C2.514099%20-2.612051%2C0%20-4.737546%2C-1.027366%20-6.376474%2C-3.080682%20-1.331637%2C-1.648053%20-1.997451%2C-3.539154%20-1.997451%2C-5.673528%200%2C-2.107362%200.665814%2C-3.985138%201.997451%2C-5.633201%201.638928%2C-2.053316%203.764423%2C-3.080682%206.376474%2C-3.080682%20z%22%2F%3E%0A%3C%2Fsvg%3E")
}

.nav-pills > li > a.upstream_link {
  text-align: center;
}

.nav-pills > li > a.upstream_link::after {
  font-family: "FontAwesome";
  font-style: normal;
  content: " \f14c";
}
