include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/eaw_theme *.html *.json *.js *.less *.css *.mo *.yml *.ico *.svg *.gif *.eot *.ttf *.woff *.png *.config *.cfg *.map
recursive-include ckanext/eaw_theme/migration *.ini *.py *.mako
