{# Remove sidebar / HvW 2019-10 #}
{# We override block primary from page.html, just to be able to #}
{# change <div class="primary col-sm-9 col-xs-12"> to #}
{# <div class="primary col-xs-12">. #}
{# "{{ super () }}" fills in the content of parent index.html. #}
{% ckan_extends %}

{% block primary %}
  <div class="primary col-xs-12">
    {% block primary_content %}
      <article class="module">
        {% block page_header %}{% endblock %}
        <div class="module-content">
          {% if self.page_primary_action() | trim %}
            <div class="page_primary_action">
              {% block page_primary_action %}
		{{ super () }}
              {% endblock %}
            </div>
          {% endif %}
          {% block primary_content_inner %}
	    {{ super () }}
          {% endblock %}
        </div>
      </article>
    {% endblock %}
  </div>
{% endblock %}

{% block secondary_content %}
{% endblock %}

