{% ckan_extends %}
{# Remove gravatar image #}
{% block user_image %}
    {%- set eawuser = h.eaw_helpers_geteawuser(user.name) -%}
    <div class="image">
        <img src="{{ eawuser.pic_url }}" />
    </div>
{% endblock %}
{# Remove placeholder for about - test #}
{% block user_about %}
    {% if c.about_formatted %}
        {{ c.about_formatted }}
    {% else %}
        <p class="empty"></p>
        {# Modification start; original below; section removal #}
        {#
        {% if is_myself %}
            {% trans %}You have not provided a biography.{% endtrans %}
        {% else %}
            {% trans %}This user has no biography.{% endtrans %}
        {% endif %}
        #}
        {# Modification end #}
    {% endif %}
{% endblock %}
