{#
Removes "There is no description for this organization" in the sidebar
if there is no description for the organizationin
#}
{% ckan_extends %}
{% block description %}
    {% if organization.description %}
        <p class="description">{{ h.markdown_extract(organization.description, 180) }}</p>
        <p class="read-more">{% link_for _('read more'), named_route=organization.type ~ '.about', id=organization.name %}</p>
        {# Modification start; original below; section removed #}
        {#
    {% else %}
        <p class="empty">{{ h.humanize_entity_type('organization', organization.type, 'no description') or _('There is no description for this organization') }}</p>
    #}
        {# Modification end #}
    {% endif %}
{% endblock %}
