{# Removes some attribution - verbosity from the footer. #}
{# The link to the CKAN project-page should be informaive enough. #}
{% ckan_extends %}
{% block footer_links_ckan %}
    {# Modification start; Original in comment; Removing footer links #}
    {#
    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
    <li><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>
    <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
    #}
    {# Modification end #}
{% endblock %}
{% block footer_lang %}
    {# Modification start; Original in comment; Removing language selections #}
    {#
    {% snippet "snippets/language_selector.html" %}
    #}
    {# Modification end #}
{% endblock %}
