{% ckan_extends %}

{% block header_wrapper %}
  {# The "Beta" banderole #}
  <img style="position:absolute;top:0;left:0;height:100px;z-index:99;" src="/beta1.png" /> 
{% block header_account %}
{% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <div class="container">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
      <span class="fa fa-bars"></span>
    </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %} {% if g.site_logo %}
      <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
        {% else %}
          <h1>
        <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
          </h1>
      {% if g.site_description %}
      <h2>{{ g.site_description }}</h2>{% endif %} {% endif %} {% endblock %}
    </hgroup>

    <div class="collapse navbar-collapse" id="main-navigation-toggle">

      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
	      {{ h.build_nav_main( ('search', _('Datasets')), ('organizations_index', _('Organizations')),
              ('group_index', _('Groups')), ('home.about', _('About')) ) }}
              <li><a href="/eawagrdm/" class="upstream_link">RDM Project<br>at Eawag</a></li> 
	    {% endblock %}
          </ul>
        </nav>
      {% endblock %}
      {# removed search in header #}
      {% block header_site_search %}
      {% endblock %}

    </div>
  </div>
</header>
{% endblock %}
