  <h1>Copyright</h1>
  <h2>Metadata</h2>
  <p>"Metadata" here means information <b>about</b> data packages
    provided by this service. This includes for eample, authors,
    title, abstract, keywords, geolocation, timerange, variables,
    species, substances. The metadata for the data packages provided
    by this service are in the <b>public domain</b>. You might use them for
    any purpose, derive new data collections from them or integrate
    them in other data collections and re-publish them without asking
    permission. "Metadata" in this sense does <b>not</b> include any
    content of the individual resources or files contained in a data
    package.
  <p>
    <h2>Research data</h2>
  <p>"Research data" in this context refers to
    any content of any files, bytestreams or pointers to other
    internet resources that are included as "Resources" in a data
    package. This includes for example, but is not limited to, tabular
    data, "README-files", any other documents, software, photographs,
    drawings, graphs.</p>
  <p>Any "Resource" in any data package might be available under a
    specific license. The license or the terms under which a
    particular resource is made available might be mentioned within
    the resource itself. A file archive of source code might contain a
    file "LICENSE.txt" or similar, or individual source code files
    might include licensing information. Documents of other
    copyrighted work might contain licensing information. A file
    within a data package might contain licensing information about
    the content of other files.</p>
  <p>In the absence of licensing information for copyrighted works
    under Swiss law ("Bundesgesetz über das Urheberrecht und verwandte
    Schutzrechte"), limitations regarding copying, making available,
    re-distributing, and generally using in any way, as set down in
    Swiss copyright law, apply.</p>
  <p>Data for which Swiss copyright law does not apply, for example
    measurements, observations and simulation results, are in the
    <b>public domain</b>.</p>
