  <h1>Disclaimer of warranty</h1>
  <p>The publisher of this information, the Swiss Federal Institute for
    Environmental Science and Technology, Eawag, is responsible for
    it. The information on this website is compiled and kept up to date
    with the greatest care. The publisher does not guarantee that the
    information is correct, complete or current, however. The publisher
    reserves the right to change, delete or temporarily not publish
    content or portions of content at any time without prior notice.</p>
  
  <p>We provide this service without warranty of any kind, either
    expressed or implied, including, but not limited to, the implied
    warranties of merchantability and fitness for a particular
    purpose. We disclaim all liability for and are not responsible for
    any harm to your computer system, loss, or corruption of data, or
    other harm that results from your access to or use of the
    service. You acknowledge that use of the service may result in
    unexpected results, loss or corruption of data or communications,
    project delays or other unpredictable damage or loss. We make no
    warranty that the service will meet your requirements or be
    available on an uninterrupted, timely, secure, or error-free basis,
    or that the results obtained from the use of the service will be
    accurate or reliable. Your access to and use of the service is at
    your own risk.</p>

  <h1>Limitation of Liability</h1>
  <p>In no event will we be liable to you or to any third party for damages
    of any kind, including, without limitation, any general, special,
    incidental, punitive, or consequential damages arising out of or in
    connection with the use of or inability to use the service (including
    loss of use, goodwill, data, revenue, business, or profits), even if
    we have been advised of the possibility of such damages.</p>
