<div style="font-size:120%;">
    <h2 style="font-size:140%;text-align:center;">The Eawag Research Data Institutional Repository (ERIC)</h2>
    <p>
        This is the new release of Eawag's research data
        repository. It features a <b>new meta-data schema</b> that is better adapted to
        user's needs, <b>improved workflow support</b>, <b>new functionality</b> such
        as <i>restricted resources</i>, <b>usability improvements</b> and bug
        fixes.
    </p>
    <div style="border:1px;
                border-style:solid;
                padding:5px 30px 5px 30px;
                box-shadow:10px 10px;
                background-color:yellow;
                margin:30px">
        <h3>Terms of Use:</h3>
        <ol>
            <li>
                Use of data in this repository only with permission from <b>Author</b> or <b>Usage Contact</b>!
            </li>
            <li>
                Making available data in this repository outside Eawag only with permission from <b>Author</b> or <b>Usage Contact</b>!
            </li>
        </ol>
    </div>
    <h3>Contact and more information</h3>
    <ul>
        <li>
            <a href="https://eawag-rdm.github.io/presentation_launch_event/index.html">Project presentation (old)</a>
        </li>
        <li>
            <a href="https://github.com/eawag-rdm/eawag-ckan/issues">Submit bugs and feature requests at Github</a>, or
        </li>
        <li>
            send email to <a href="mailto:rdm@eawag.ch">rdm@eawag.ch</a>
        </li>
    </ul>
</div>
{% block secondary %}<div style="margin-bottom:0px;margin-top:30px;">Christian Foerster/2023-03-31</div>{% endblock %}
